{{!-- Populate cards page start --}}
<div class="container  level-section mt-0 mb-5">
          <div class="row md-8">
            <div class="col-md-10">
                {{!-- Stress and Symptom Selections Start --}}
                  <h2>Sort by Stress or Symptom Scale</h2>
            </div>
            <div class="col-md-2">
                  <div class="dropdown">
                    <button class="btn btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Levels
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="">Stress <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a class="level-link" href="/stress/1">Stess Level: 1</a></li>
                          <li><a class="level-link" href="/stress/2">Stess Level: 2</a></li>
                          <li><a class="level-link" href="/stress/3">Stess Level: 3</a></li>
                          <li><a class="level-link" href="/stress/4">Stess Level: 4</a></li>
                          <li><a class="level-link" href="/stress/5">Stess Level: 5</a></li>
                          <li><a class="level-link" href="/stress/6">Stess Level: 6</a></li>
                          <li><a class="level-link" href="/stress/7">Stess Level: 7</a></li>
                          <li><a class="level-link" href="/stress/8">Stess Level: 8</a></li>
                          <li><a class="level-link" href="/stress/9">Stess Level: 9</a></li>                          
                        </ul>
                      </li>
                      <li class="dropdown-submenu">
                        <a class="test" tabindex="-1" href="">Symptom <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a class="level-link" href="/symptom/1">Symptom Level: 1</a></li>
                          <li><a class="level-link" href="/symptom/2">Symptom Level: 2</a></li>
                          <li><a class="level-link" href="/symptom/3">Symptom Level: 3</a></li>
                          <li><a class="level-link" href="/symptom/4">Symptom Level: 4</a></li>
                          <li><a class="level-link" href="/symptom/5">Symptom Level: 5</a></li>
                          <li><a class="level-link" href="/symptom/6">Symptom Level: 6</a></li>
                          <li><a class="level-link" href="/symptom/7">Symptom Level: 7</a></li>
                          <li><a class="level-link" href="/symptom/8">Symptom Level: 8</a></li>
                          <li><a class="level-link" href="/symptom/9">Symptom Level: 9</a></li>                          
                        </ul>
                      </li>
                    </ul>
                  </div>
                {{!-- Stress and Symptom Selections End --}}
            </div>
        </div>
</div>
  <div class="container">
  <div class="row">
  
          {{!-- Injecting card blocks --}}
            {{#each medsightdata}}
                {{> cards/card-block }}
            {{/each}}  
  </div>
  <a href="/">← Back To Home</a>
</div>
{{!-- Populate cards page end --}}
<!-- Linked Script Files Specific to This HTML Page -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- moment.js link -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js" integrity="sha256-ABVkpwb9K9PxubvRrHMkk6wmWcIHUE9eBxNZLXYQ84k=" crossorigin="anonymous"></script> 
<script src="/js/cards.js"></script>