{{!-- Populate cards page start --}}
<div class="container">
  <div class="row">
          {{!-- Injecting card blocks --}}
            {{#each medsightdata}}
                {{> cards/card-block }}
            {{/each}}  
  </div>
  <a href="/">â† Back To Home</a>
</div>
{{!-- Populate cards page end --}}
<!-- Linked Script Files Specific to This HTML Page -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- moment.js link -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js" integrity="sha256-ABVkpwb9K9PxubvRrHMkk6wmWcIHUE9eBxNZLXYQ84k=" crossorigin="anonymous"></script> 
<script src="/js/cards.js"></script>

