<div class="container mainSurveyArea mt-2 mb-2">
    <div class="row">
        <div id="lineGraphPainStress" class="col-md-6">
            
        </div>
    </div>
</div>

<!-- Linked Script Files Specific to This HTML Page -->
<script src="/js/dashboard.js"></script>