<div class="container mainSurveyArea mt-2 mb-2">

{{!-- Pain vs Stress Line Graph --}}
    <div class="row">
        <div id="lineGraphPainStress">

        </div>
    </div>


{{!-- Allergy Pie Chart Based on Pain Threshold --}}
    <div class="row">
        <div id="pieChartAllergy">

        </div>
    </div>


{{!-- Scatter Plot of Pain Values Mapped Across Humidity --}}
    <div class="row">
        <div id="scatterPlotHumid">

        </div>
    </div>

{{!-- Air Quality Crossed With Pain --}}
    <div class="row">
        <div id="airQualVsPain">

        </div>
    </div>

{{!-- Pollen Crossed With Pain --}}
    <div class="row">
        <div id="pollenVsPain">

        </div>
    </div>












</div>

<!-- Linked Script Files Specific to This HTML Page -->
<script src="/js/dashboard.js"></script>