    <!-- Main Logo Section -->
    <div class="container mt-0 mb-5" data-aos="fade-up">
        <div class="row">
            <img class="mainImgArea mb-2" src="../assets/images/MedSight Banner - Tighter Crop.png" alt="MedSight">
        </div>    
    </div>

    {{!-- Individual Bios --}}
    <!-- Card Section -->
    <div id="cardSection" class="row container" data-aos="fade-up">
        <!-- Card1 - Jarred -->
        <div class="col-md-3 d-flex justify-content-center">
            <div class="storyCard" style="width: 18rem;">
                <img class="card-img-top" src="/assets/images/jarredSutton.jpg" alt="Jarred Sutton">
                <div class="card-body">
                    <h5 class="card-title">Jarred Sutton</h5>
                    <p class="card-text">A long time tech enthusiast and evangelist turned web developer. Always seeking new technologies to build with a purpose.</p>
                    <a href="https://github.com/circuitsyn" class="btn btn-warning">Github</a>
                </div>
            </div>
        </div>

            <!-- Card2 Keo -->
        <div class="col-md-3 d-flex justify-content-center">   
            <div class="storyCard" style="width: 18rem;">
                <img class="card-img-top" src="/assets/images/Keo.jpg" alt="Keo Thorng">
                <div class="card-body">
                    <h5 class="card-title">Keo Thorng</h5>
                    <p class="card-text">Family man that chooses to move with the times.  Strong foundation in information technology and logistics, with an understanding of web development.</p>
                    <a href="https://github.com/kthorng" class="btn btn-warning">Github</a>
                </div>
            </div>
        </div>
    
            <!-- Card3 Kayla -->
        <div class="col-md-3 d-flex justify-content-center">
            <div class="storyCard" style="width: 18rem;">
                <img class="card-img-top" src="/assets/images/Kayla.jpg" alt="Kayla Williams">
                <div class="card-body">
                    <h5 class="card-title">Kayla Williams</h5>
                    <p class="card-text">Bartender breaching into the technological corridor, with a background in research Psychology, and a penchant to continue learning. </p>
                    <a href="https://github.com/Kayla312" class="btn btn-warning">Github</a>
                </div>
            </div>
        </div>

            <!-- Card4 - James -->
        <div class="col-md-3 d-flex justify-content-center">
            <div class="storyCard" style="width: 18rem;">
                <img class="card-img-top" src="/assets/images/James.jpg" alt="James Dowd">
                <div class="card-body">
                    <h5 class="card-title">James Dowd</h5>
                    <p class="card-text">Former Athletic Trainer turned Medical Sales & Marketing Pro, excited to be learning all things web development.</p>
                    <a href="https://github.com/jdowd215" class="btn btn-warning">Github</a>
                </div>
            </div>
        </div>
    </div>

    {{!-- Application Description --}}
    <div>
        <div class="container healthFactArea mt-2 mb-5" data-aos="fade-up">
            <div class="row">
                <h1 id="mainLine">
                    Our Vision...
                </h1>
                <br>
                <h4 id="secondaryLine">
                    MedSight is an online application that allows you to input and track your health information and conditions combined with data analytics to take control of your health. 
                </h4>
            </div>
        </div>
    </div>
    

    {{!-- Design Card --}}

    
        <div class="container healthFactArea mt-2 mb-5 justify-content-center" data-aos="fade-up">
            <div class="row">                
                <h4 class="card-title-ourStory">Design</h4>
            </div>
            <div class="row landingMockUp">
                <div class="col-md-6 d-flex justify-content-middle">
                    <img class="ourStoryBodyImages" src="/assets/images/landingMockUp_cropped.png" alt="Landing Page Mock-Up">
                </div>
                <div class="col-md-6">
                    <p class="ourStoryText">
                        Often one of the biggest problems with making changes to improve your health is your ability to remember what triggers health issues. MedSight allows the user to capture a moment in time, and record allergen-based food trigers and pain conditions, along with pre-populated environmental conditions. Combining this tracking ability with data analytics allows the user to make correlations they wouldn't recognize otherwise, and provide valuable information to their healthcare provider.
                    </p>
                </div>
            </div>
        </div>

        {{!-- Inspiration Card --}}

        <div class="container healthFactArea mt-2 mb-5 justify-content-center" data-aos="fade-up">
                    <div class="row">                
                        <h4 class="card-title-ourStory float-right">Inspiration</h4>
                    </div>
                    <div class="row landingMockUp">
                        <div class="col-md-6 d-flex justify-content-middle">
                            <img class="ourStoryBodyImages" src="/assets/images/inspiration_medical.jpg" alt="Landing Page Mock-Up">
                        </div>
                        <div class="col-md-6">
                            <p class="ourStoryText">
                                Often one of the biggest problems with making changes to improve your health is your ability to remember what triggers health issues. MedSight allows the user to capture a moment in time, and record allergen-based food trigers and pain conditions, along with pre-populated environmental conditions. Combining this tracking ability with data analytics allows the user to make correlations they wouldn't recognize otherwise, and provide valuable information to their healthcare provider.
                            </p>
                        </div>
                    </div>
                </div>

        {{!-- Data Card --}}
        
        <div class="container healthFactArea mt-2 mb-5 justify-content-center" data-aos="fade-up">
            <div class="row">                
                <h4 class="card-title-ourStory">Data</h4>
            </div>
            <div class="row landingMockUp">
                <div class="col-md-6 d-flex justify-content-middle">
                    <img class="ourStoryBodyImages" src="/assets/images/data.png" alt="Landing Page Mock-Up">
                </div>
                <div class="col-md-6">
                    <p class="ourStoryText">
                        Often one of the biggest problems with making changes to improve your health is your ability to remember what triggers health issues. MedSight allows the user to capture a moment in time, and record allergen-based food trigers and pain conditions, along with pre-populated environmental conditions. Combining this tracking ability with data analytics allows the user to make correlations they wouldn't recognize otherwise, and provide valuable information to their healthcare provider.
                    </p>
                </div>
            </div>
        </div>



  
