    <!-- Main Logo Section -->
    <div class="container mt-0 mb-5">
        <div class="row">
            <img class="mainImgArea mb-2" src="assets/images/MedSight Banner - Tighter Crop.png" alt="MedSight">
        </div>    
    </div>

    {{!-- Application Description --}}
    <div class="container healthFactArea mt-2 mb-5">
        <div class="row">
                <h1 id="mainLine">
                    Our Story...
                </h1>
                <br>
                <h3 id="secondaryLine">
                    MedSight is an online application that allows you to input and track health information and conditions combined with data analytics to take control of your health and give you insights you might have never thought of before. 
                </h3>
            </div>
    </div>

    {{!-- Individual Bios --}}
        <!-- Card Section -->
    <div class="container mainSurveyArea mt-2 mb-2">
        <div id="cardSection" class="row container">
        
            <!--Card1-->
            <div class="col-md-3 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/jarredSutton.jfif" alt="Jarred Sutton">
                    <div class="card-body">
                        <h5 class="card-title">Jarred Sutton</h5>
                        <p class="card-text">A long time tech enthusiast and evangelist turned web developer. Always seeking new technologies to build with a purpose.</p>
                        <a href="https://github.com/circuitsyn" class="btn btn-primary">Github</a>
                    </div>
                </div>
            </div>

            <!--Card2-->
            <div class="col-md-3 d-flex justify-content-center">   
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/Keo.jfif" alt="Keo Thorng">
                    <div class="card-body">
                        <h5 class="card-title">Keo Thorng</h5>
                        <p class="card-text">Family man that chooses to move with the times.  Strong foundation in information technology and logistics, with an understanding of web development.</p>
                        <a href="https://github.com/kthorng" class="btn btn-primary">Github</a>
                    </div>
                </div>
            </div>
    
            <!--Card3-->
            <div class="col-md-3 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/" alt="Kayla Williams">
                    <div class="card-body">
                        <h5 class="card-title">Kayla Williams</h5>
                        <p class="card-text"> </p>
                        <a href="https://github.com/" class="btn btn-primary">Github</a>
                    </div>
                </div>
            </div>

            <!--Card4-->
            <div class="col-md-3 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/James.jfif" alt="James Dowd">
                    <div class="card-body">
                        <h5 class="card-title">James Dowd</h5>
                        <p class="card-text">Former Athletic Trainer turned Medical Sales & Marketing Pro, excited to be learning all things web development.</p>
                        <a href="https://github.com/jdowd215" class="btn btn-primary">Github</a>
                    </div>
                </div>
            </div>
        </div>
    </div>