    <!-- Main Logo Section -->
    <div class="container mt-0 mb-5">
        <div class="row">
            <img class="mainImgArea mb-2" src="assets/images/MedSight Banner - Tighter Crop.png" alt="MedSight">
        </div>    
    </div>


    <!-- Health Tip Section -->
    <div class="container healthFactArea mt-2 mb-5">
        <div class="row">
            <h3 id="healthFact"><strong>Health Tip:</strong> Don't drink sugar calories - Sugary drinks are the most fattening things you can put in your body!</h3>
        </div>    
    </div>

    <!-- Main Survey Question Area -->
    <div class="container mainSurveyArea mt-2 mb-2">
        

        <!-- Intro instructions -->
        <div class="row">
            <h2 class="d-flex align-items-center mt-4 titleFont">
                Make sure to fill your card out to completion so we can get you the best results over time!
            </h2>
        </div>
        <hr>
    
        <!-- Questions -->
        <!--Pain Location Section Start-->
        <!-- Muscle Pain -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Pain Selection Location</h4>
            </div>
        </div>
        <div class="row mt-2 mb-2 d-flex justify-content-center">
            
            <div class="row mt-2 mb-4">
                <div class="col-md-4">

                    <h6>Muscular Pain:</h6>
                    
                    <select id="muscularQ" class="custom-select" style="width: 200px">
                        <option selected>Pain Locations</option>
                        <option value="Ankle">Ankle</option>
                        <option value="Back">Back</option>
                        <option value="Bicep">Bicep</option>
                        <option value="Calf">Calf</option>
                        <option value="Chest">Chest</option>
                        <option value="Elbow">Elbow </option>
                        <option value="Face">Face</option>
                        <option value="Feet">Feet</option>
                        <option value="Fingers">Fingers</option>
                        <option value="Hands">Hands</option>
                        <option value="Head">Head</option>
                        <option value="Knuckles">Knuckles</option>
                        <option value="Neck">Neck</option>
                        <option value="Nose">Nose</option>
                        <option value="Shin">Shin</option>
                        <option value="Thigh">Thigh</option>
                        <option value="Tricep">Tricep</option>
                    </select>
                </div>

                <!-- Skeletal Pain-->
                <div class="col-md-4">

                    <h6>Skeletal Pain:</h6>
                    
                    <select id="skeletalQ" class="custom-select" style="width: 200px">
                        <option selected>Pain Locations</option>
                        <option value="Ankle">Ankle</option>
                        <option value="Back">Back</option>
                        <option value="Bicep">Bicep</option>
                        <option value="Calf">Calf</option>
                        <option value="Chest">Chest</option>
                        <option value="Elbow">Elbow </option>
                        <option value="Face">Face</option>
                        <option value="Feet">Feet</option>
                        <option value="Fingers">Fingers</option>
                        <option value="Hands">Hands</option>
                        <option value="Head">Head</option>
                        <option value="Knuckles">Knuckles</option>
                        <option value="Neck">Neck</option>
                        <option value="Nose">Nose</option>
                        <option value="Shin">Shin</option>
                        <option value="Thigh">Thigh</option>
                        <option value="Tricep">Tricep</option>
                    </select>
                </div>

                <!-- Epidermis Pain-->
                <div class="col-md-4">

                    <h6>Epidermis Pain:</h6>
                                
                    <select id="epidermisQ" class="custom-select" style="width: 200px">
                        <option selected>Pain Locations</option>
                        <option value="Ankle">Ankle</option>
                        <option value="Back">Back</option>
                        <option value="Bicep">Bicep</option>
                        <option value="Calf">Calf</option>
                        <option value="Chest">Chest</option>
                        <option value="Elbow">Elbow </option>
                        <option value="Face">Face</option>
                        <option value="Feet">Feet</option>
                        <option value="Fingers">Fingers</option>
                        <option value="Hands">Hands</option>
                        <option value="Head">Head</option>
                        <option value="Knuckles">Knuckles</option>
                        <option value="Neck">Neck</option>
                        <option value="Nose">Nose</option>
                        <option value="Shin">Shin</option>
                        <option value="Thigh">Thigh</option>
                        <option value="Tricep">Tricep</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- Allergy Trigger Section -->
        <div class="container">
            <div class="row">         
                <h4>Allergy Triggers:</h4>  
            </div>
            <div class="row">    
                <p>Click to select any common allergy trigger foods you may have consumed.</p>   
            </div>
         
        <section>	
            <div class="quizimgblock">
                <div class="container">
                    <div class="row wrapper mt-2 mb-4 d-flex justify-content-center">

                        {{!-- Dairy Question Checkbox --}}
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                            <a href="#" class="quiz-answer">
                                <img class="check" src="assets/images/checkmark2trans.png" alt="check">
                                <img class="allergyIcons" src="assets/images/cowIcon.png" alt="dairy icon">
                            </a>
                        </div>

                        {{!-- Eggs Question Checkbox --}}
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                            <a href="#" class="quiz-answer">
                                <img class="check quizbutton" src="assets/images/checkmark2trans.png" alt="check">
                                <img class="allergyIcons" src="assets/images/eggs.png" alt="egg icon">
                            </a>
                        </div>

                        {{!-- Seafood Question Checkbox --}}
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                            <a href="#" class="quiz-answer">
                                <img class="check" src="assets/images/checkmark2trans.png" alt="check">
                                <img class="allergyIcons" src="assets/images/fish.png" alt="seafood icon">
                            </a>
                        </div>

                        {{!-- Soy Question Checkbox --}}
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                            <a href="#" class="quiz-answer">
                                <img class="check" src="assets/images/checkmark2trans.png" alt="check">
                                <img class="allergyIcons" src="assets/images/soy.png" alt="soy icon">
                            </a>
                        </div>

                        {{!-- Nuts Question Checkbox --}}
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                            <a href="#" class="quiz-answer">
                                <img class="check" src="assets/images/checkmark2trans.png" alt="check">
                                <img class="allergyIcons" src="assets/images/nutsIcon.png" alt="nuts icon">
                            </a>
                        </div>

                        {{!-- Wheat Question Checkbox --}}
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                            <a id="wheatCheck" value="0" href="#" class="quiz-answer">
                                <img class="check" src="assets/images/checkmark2trans.png" alt="check">
                                <img class="allergyIcons" src="assets/images/wheatIcon.png" alt="wheat icon">
                            </a>
                        </div>

                        {{!-- Sweets Question Checkbox --}}
                        <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                            <a href="#" class="quiz-answer">
                                <img class="check" src="assets/images/checkmark2trans.png" alt="check">
                                <img class="allergyIcons" src="assets/images/sweets.png" alt="sweetsCheck">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </section>


        <!-- Discomfort Sliders -->
        <!-- Stress Level Slider -->
        <hr>
        <div class="container">
        <div class="row mb-2 mt-2">
            <h4>Stress Level Slider</h4>
            <p>Please touch or click and hold the heart on the scale and drag it toward green for less stress and right for more stress that you are experiencing below:</p>
            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="stressRange">
            </div>
        </div>
        <!-- Intensity Level Slider -->
        <div class="row mb-2 mt-2">
            <h4>Symptom Intensity Level Slider</h4>
            <p>Please touch or click and hold the heart on the scale and drag it toward green for less intensity and right for more intensity of the symptom that you are experiencing below:</p>
            <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="symptomRange">
            </div>
        </div>
        </div>

        <!-- Table for API and auto data -->
        <hr>
        <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col" class="bg-warning">Automatic Data</th>
                    <td class="bg-warning"></td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Location</th>
                    <td id="autoLocation">filler</td>
                  </tr>
                  <tr>
                    <th scope="row">Humidity</th>
                    <td id="autoHumidity">filler</td>
                  </tr>
                  <tr>
                    <th scope="row">Pollen</th>
                    <td id="autoPollen">filler</td>
                  </tr>
                  <tr>
                    <th scope="row">Pollution</th>
                    <td id="autoPollution">filler</td>
                  </tr>
                  <tr>
                    <th scope="row">Time</th>
                    <td id="autoTime">filler</td>
                  </tr>
                </tbody>
              </table>

        <!-- Notes Input Area -->
        <div class="container">
        <div class="row mt-4 mb-4">
            <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text font-weight-bold">Notes Section:</span>
                </div>
                <textarea id="notesInput" class="form-control" aria-label="With textarea"></textarea>
            </div>
        </div>
        </div>

        <!-- Submit Button -->
        <div class="row container">
            <input id="submit" class="btn btn-warning pt-3 pb-3 pl-5 pr-5 font-weight-bold " type="submit" value="Submit New Card">
        </div>
        
        <hr>
        
    </div>

        <!-- footer -->
        <footer>
            
        
        </footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
