body, html {
    height: 100%;
    background-image: url("../assets/images/waterfallBG.jpg");
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed;
}

.mainSurveyArea {
    background: rgba(255,255,255,0.9);
    border-radius: 45px;
    padding: 2% 4% 2% 4%;
    border-width: 5px;
    border-style: solid;
    border-color: #420b56; 
}

.titleFont {
    text-align: center;
}

.navbar-toggler {
    background-color: #420b56;
    stroke: white;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 10px 15px 10px 15px;
}

.nav-link {
    color: white !important;
    opacity: 1;
}

#navbarNav {
    background-color: white;
    padding: 10px 0px 10px 0px;
    border-radius: 15px;
    width: 20%;
    
}

.fa-bars {
    color: white;
}

#healthFact {
    text-align: center;
}

.healthFactArea {
    background: rgba(255,255,255,0.9);
    border-radius: 45px;
    padding: 2% 4% 2% 4%;
    border-width: 5px;
    border-style: solid;
    border-color: #420b56;
}

.mainImgArea {
    background: rgba(255,255,255,1);
    border-radius: 45px;
    padding: 2% 4% 2% 4%;
    border-width: 5px;
    border-style: solid;
    border-color: #420b56;
    margin: auto;
    height: auto;
    width: 300px;
}

/* ---------------------------------- slider styling start ----------------------------------*/

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 20px; /* Specified height */
    background: linear-gradient(to left, #ff0000 0%,#ffff00 50%, #33cc33 100%);
    border-radius: 5px;
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 30px; /* Set a specific slider handle width */
    height: 30px; /* Slider handle height */
    background: #420b56; /* Green background */
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 30px; /* Set a specific slider handle width */
    height: 30px; /* Slider handle height */
    background: #420b56; /* Green background */
    border-radius: 50%;
    cursor: pointer; /* Cursor on hover */
}

/*---------------------------------- slider styling end ----------------------------------*/

.allergyIcons{
    height: 80px;
    width: 80px;
}
/* -------------------------------- tooltip styling----------------------*/
/* #stressRangeId{
   visibility: visible; 
} */
